h1 {letter-spacing: 3px;
    text-align: center;
     
}
ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    box-shadow: 0 1px 3px --2px black;
    
}